.hero {
    height: 90vh;
    display: block;

    &__cont {
        display: flex;
        justify-content: flex-end;
        min-height: 86vh;
        height: auto;
        flex-direction: column;
        padding: 120px 40px 50px;

        &__image {
            display: flex;
            justify-content: flex-end;
        }
          
    }

    &__arrow {
        display: inline-block;
        transform: rotate(90deg);
        width: 89px;
    }
}