.header {
    &__cont{
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }
    &__logo {
        width: 100%;
        max-width: 177px;
        max-height: 41px;
    }
}

.nav {
    &__content{
        display: flex;
        justify-content: flex-end;
        gap: 20px;
    }
}